apiVersion: v1
kind: ConfigMap
metadata:
  name: theia-shared-cache-gradle-config
  labels:
    app: theia-shared-cache
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
data:
  gradle.properties: |-
    org.gradle.caching=true
    org.gradle.caching.remote.push=true
    # Use the static service name so DNS resolves correctly within the cluster
    org.gradle.caching.remote.url=http://theia-shared-cache:5071