{{- if .Values.reposilite.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: reposilite-shared-config
  labels:
    app: {{ .Release.Name }}
    component: reposilite
data:
  configuration.shared.json: |
    {
      "maven": {
        "repositories": [
          {
            "id": "releases",
            "visibility": "PUBLIC",
            "redeployment": false,
            "preserveSnapshots": false,
            "proxied": [
              {
                "reference": "https://repo1.maven.org/maven2",
                "store": true,
                "allowedGroups": [],
                "allowedExtensions": [".jar", ".war", ".xml", ".pom", ".module", ".asc", ".md5", ".sha1", ".sha256", ".sha512"]
              },
              {
                "reference": "https://plugins.gradle.org/m2",
                "store": true,
                "allowedGroups": [],
                "allowedExtensions": [".jar", ".war", ".xml", ".pom", ".module", ".asc", ".md5", ".sha1", ".sha256", ".sha512"]
              }
            ]
          }
        ]
      }
    }
{{- end }}