{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-cache
  labels:
    app: {{ .Release.Name }}
    component: cache-server
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: {{ .Release.Name }}
    component: cache-server
{{- end }}
