apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "theia-shared-cache.fullname" . }}-gradle-config
  labels:
    app: {{ include "theia-shared-cache.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
data:
  gradle.properties: |-
    org.gradle.caching=true
    org.gradle.caching.remote.push=true
    # Replace the URL below if your service name or port differ
    org.gradle.caching.remote.url=http://theia-shared-cache:5071